:root
  --palette-size: 32px
  // The following grow to accomodate scrollbars if needed:
  --palette-offset-width: var(--palette-size)
  --palette-offset-height: var(--palette-size)
  --palette-color: #ccc
  --palette-border: 2px
  --tooltip-width: 200px
  --tooltip-arrow: 5px

// A few basics from Bootstrap:
*, :before, :after
  box-sizing: border-box
svg
  overflow: hidden
input
  width: 100%
kbd
  padding: 2px 4px
  font-family: monospace
  font-size: 90%
  color: #fff
  background-color: #333
  border-radius: 3px
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25)
  display: inline-block // prevent line breaks in CTRL-something

body
  font-family: 'Roboto Slab', serif
  touch-action: none  // Prevent mobile zooming

.board, .modal
  position: absolute
  overflow: hidden
  top: 0
  left: var(--palette-offset-width)
  width: calc(100% - var(--palette-offset-width))
  height: calc(100% - var(--palette-offset-height))
.board
  cursor: crosshair
  touch-action: none  // PointerEvents only
#remotes
  pointer-events: none

.palette
  position: absolute
  background: content-box var(--palette-color)
  display: flex
.vertical.palette
  flex-direction: column
  overflow-x: hidden
  overflow-y: auto
  top: 0
  left: 0
  width: var(--palette-offset-width)
  height: calc(100% - var(--palette-offset-height))
.horizontal.palette
  flex-direction: row
  overflow-x: auto
  overflow-y: hidden
  bottom: 0
  left: 0
  width: 100%
  height: var(--palette-offset-height)
  &#historyRange
    margin: 0 10px

.tool, .color, .width
  flex: none
  width: var(--palette-size)
  height: var(--palette-size)
  border: var(--palette-border) outset #ccc
  cursor: pointer

  &.selected, &.active
    --palette-border: 3px
    background: rgba(0,0,0,0.2)
    border: var(--palette-border) inset rgba(0,0,0,0.2)
    &[data-color="black"]
      border: var(--palette-border) inset rgba(255,255,255,0.2)
  &:active
    --palette-border: 3px
    background: rgba(0,0,0,0.4)
    border: var(--palette-border) inset rgba(0,0,0,0.4)

.tooltip
  cursor: help
  display: block
  position: absolute
  z-index: 99
  left: var(--palette-size)
  width: var(--tooltip-width)
  padding: 5px 8px
  font-size: 16px
  margin-left: var(--tooltip-arrow)
  background: padding-box var(--palette-color)
  // Left arrow
  &:before
    content: ''
    position: absolute
    left: calc(-2 * var(--tooltip-arrow))
    width: var(--tooltip-arrow)
    height: var(--tooltip-arrow)
    border: var(--tooltip-arrow) solid transparent
    border-right-color: var(--palette-color)
  &.top:before
    top: calc(-5px + 0.5 * var(--palette-size))  // 5px is padding on .tooltip
  &.bottom:before
    bottom: calc(-5px + 0.5 * var(--palette-size))  // 5px is padding on .tooltip
  .hotkey
    float: right
    margin-top: 1px

.spacer
  flex-basis: 100%
  min-height: calc(var(--palette-size)/2)

.width
  display: flex
  justify-content: center
  align-items: center
  line
    stroke: var(--currentColor)
  text
    fill: black
    text-anchor: middle
    font-size: 10px

.tool
  padding: 2px

svg .highlight
  opacity: 0.333
  pointer-events: none
svg .selected
  opacity: 0.666
  pointer-events: none

body:not(.history)
  .historyShow
    visibility: hidden
body.history
  --palette-color: #d6bc9f  // sepia-like
  .historyHide
    visibility: hidden

#loading
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  top: 0
  left: 0
  width: 100%
  height: 100%
  visibility: hidden
  &.loading
    visibility: visible
  > svg
    width: 10%
    height: 10%
    animation: fa-spin 2s ease infinite

// Modal dialogs
.modal
  padding: 20px 40px
  visibility: hidden
  &.show
    visibility: visible
  cursor: help
.modal.error
  background: pink

// Based on keyframes from Font Awesome Free (see `lib/icons.coffee`).
@keyframes fa-spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

#download
  display: none

.grid
  stroke-width: 0.96
  stroke: #c4e3f4
