head
  title Cocreate Shared Whiteboard
  link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto+Slab:wght@500;900&display=swap", rel="stylesheet", crossorigin="anonymous")
  meta(name="viewport", content="width=device-width, initial-scale=1")

body
  //-nav.navbar.navbar-default.navbar-flex(role="navigation")#top
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand Cocreate
    .collapse.navbar-collapse#navbar
      ul.nav.navbar-nav.navbar-right
        +loginButtons
  #pages.top.horizontal.palette
    #pageNumbers
      | page
      input#pageNum(type='text', value='?')
      | of
      span#numPages ?
    // Buttons go here
    input#name(type='text', placeholder='Your Name')
  #tools.vertical.palette
  #attribs.bottom.horizontal.palette.historyHide
    #widths.subpalette.textHide
    #fontSizes.subpalette.textShow
    #fillTool.subpalette
    #colors.subpalette
  #history.bottom.horizontal.palette.historyShow
    input#historyRange.history(type="range", min="0", max="0", title="Drag to time travel through history")
  #text.nextBottom.horizontal.palette.textShow
    textarea#textInput(type="text", placeholder='(type text here)')
  // touch-action="none" attribute triggers Pointer Events Polyfill (pepjs)
  svg#board.board.historyHide(touch-action="none")
  svg#historyBoard.board.historyShow(touch-action="none")
  svg#remotes.board.historyHide
  #badRoom.modal.error
    h1 Invalid Room ID
    p Perhaps there's a typo in the URL?  It should look like this:
    pre#roomLinkStyle
    p Please double-check your copy/paste.
    p Or <a id="newRoomLink">create a new room</a>.
  #qrPane.modal.info
    h1 QR code for this room
    p Share this QR code to direct a mobile browser to this room:
    <canvas id="qrcode"></canvas>
  #loading
  a#download
