:root
  --palette-size: 32px
  // The following grow to accomodate scrollbars if needed:
  --palette-left-width: var(--palette-size)
  --palette-bottom-height: var(--palette-size)
  --palette-top-height: var(--palette-size)
  --palette-color: #ccc
  --palette-border: 2px #ccc
  --tooltip-color: hsl(60, 50%, 76%)
  --tooltip-width: 200px
  --tooltip-arrow: 5px

.dark
  --palette-color: #333
  --palette-border: 2px #666
  --tooltip-color: hsl(60, 50%, 25%)

// A few basics from Bootstrap:
*, :before, :after
  box-sizing: border-box
svg
  overflow: hidden
input
  width: 100%
kbd
  padding: 2px 4px
  font-family: 'Roboto Mono', monospace
  font-size: 90%
  color: #fff
  background-color: #333
  /.dark &
    color: #333
    background-color: #ddd
  border-radius: 3px
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25)
  display: inline-block // prevent line breaks in CTRL-something

body
  font-family: 'Roboto Slab', serif
  touch-action: none  // Prevent mobile zooming
  margin: 0
  background: #fff
  &.dark
    color: #aaa
    background: #000
input
  font-family: 'Roboto Slab', serif
  font-size: 16px
  padding-top: 0px
  /.dark &
    color: #aaa
    &::placeholder
      color: #555
    background: #000

.board, .modal
  position: absolute
  overflow: hidden
  top: var(--palette-top-height)
  left: var(--palette-left-width)
  width: calc(100% - var(--palette-left-width))
  height: calc(100% - var(--palette-top-height) - var(--palette-bottom-height))
  /.dark &
    filter: invert(1) hue-rotate(180deg)
.board
  cursor: crosshair
  touch-action: none  // PointerEvents only
  user-select: none  // avoid selecting text objects while drawing
#remotes
  pointer-events: none

.palette
  position: absolute
  background: var(--palette-color)
  display: flex
  z-index: 1
  user-select: none  // prevent selection e.g. of line thickness numbers
.vertical.palette
  flex-direction: column
  overflow-x: hidden
  overflow-y: auto
  top: 0
  left: 0
  width: var(--palette-left-width)
  height: 100%
  //-height: calc(100% - var(--palette-bottom-height))
.horizontal.palette
  flex-direction: row
  overflow-x: auto
  overflow-y: hidden
  left: var(--palette-left-width)
  width: calc(100% - var(--palette-left-width))
  &.top
    top: 0
    height: var(--palette-top-height)
  &.bottom
    bottom: 0
    height: var(--palette-bottom-height)
    //-left: 0
    //-width: 100%
  &.nextBottom
    bottom: var(--palette-bottom-height)
    height: var(--palette-size)
  &#historyRange
    margin: 0 10px
.subpalette
  display: flex

#pageNumbers
  display: flex
  align-items: baseline
  padding: 0px 8px
  #pageNum
    width: 2em
    height: 100%
    margin: 0 0.3em
  #numPages
    margin-left: 0.3em
#name
  width: 8em

.tool, .attrib
  flex: none
  width: var(--palette-size)
  height: var(--palette-size)
  border: var(--palette-border) outset
  cursor: pointer

  &.selected, &.active
    --palette-border: 3px
    background: rgba(0,0,0,0.2)
    border: var(--palette-border) inset rgba(0,0,0,0.2)
    /.dark &
      border: var(--palette-border) inset rgba(0,0,0,0.75)
    &[data-color="black"]
      border: var(--palette-border) inset rgba(255,255,255,0.2)
      /.dark &
        border: var(--palette-border) inset rgba(255,255,255,0.3)
  &:active
    --palette-border: 3px
    background: rgba(0,0,0,0.4)
    border: var(--palette-border) inset rgba(0,0,0,0.4)
    /.dark &
      border: var(--palette-border) inset rgba(0,0,0,1)

.dark .color
  filter: invert(1) hue-rotate(180deg)

.tooltip
  cursor: help
  display: block
  position: absolute
  z-index: 99
  width: var(--tooltip-width)
  padding: 5px 8px
  font-size: 16px
  background: padding-box var(--tooltip-color)
  /.dark &
    color: #ddd
  // Arrow
  &:before
    content: ''
    position: absolute
    width: var(--tooltip-arrow)
    height: var(--tooltip-arrow)
    border: var(--tooltip-arrow) solid transparent
    pointer-events: none
  &.vertical
    left: var(--palette-size)
    margin-left: var(--tooltip-arrow)
    // Left arrow
    &:before
      left: calc(-2 * var(--tooltip-arrow))
      border-right-color: var(--tooltip-color)
    &.align-top:before
      top: calc(0.5 * var(--palette-size) - var(--tooltip-arrow))
    &.align-bottom:before
      bottom: calc(0.5 * var(--palette-size) - var(--tooltip-arrow))
  &.horizontal
    &.top
      top: var(--palette-top-height)
      margin-top: var(--tooltip-arrow)
      // Up arrow
      &:before
        top: calc(-2 * var(--tooltip-arrow))
        border-bottom-color: var(--tooltip-color)
        left: calc(50% - var(--tooltip-arrow))
    &.bottom
      bottom: var(--palette-bottom-height)
      margin-bottom: var(--tooltip-arrow)
      // Down arrow
      &:before
        bottom: calc(-2 * var(--tooltip-arrow))
        border-top-color: var(--tooltip-color)
        left: calc(50% - var(--tooltip-arrow))
  .hotkeys
    float: right
    .hotkey
      margin-top: 1px
      margin-left: 3px

.tool[data-tool="fill"]
  #fillOn
    display: block
  #fillOff
    display: none
  &.active
    #fillOn
      display: block
    #fillOff
      display: none

.spacer
  flex-basis: 100%
  min-height: calc(var(--palette-size)/2)

.width, .fontSize
  display: flex
  justify-content: center
  align-items: center
  line
    stroke: var(--currentColor)
  text
    fill: black
    text-anchor: middle
    font-size: 10px
  /.dark & svg
    filter: invert(1) hue-rotate(180deg)

.tool
  padding: 2px

svg
  .highlight
    opacity: 0.333
    pointer-events: none
  .selected
    opacity: 0.666
    pointer-events: none
  line.cursor
    opacity: 0.5
    stroke: black
    stroke-linecap: round
  .selected line.cursor
    visibility: hidden // don't highlight cursor in selection
  .selector
    fill: rgba(255,255,255,0.25)
    stroke: rgba(0,0,0,0.5)
    stroke-width: 3
    stroke-dasharray: 6
  .outline
    fill: none
    stroke: rgba(0,0,0,0.5)
    stroke-width: 2
    stroke-dasharray: 2
  tspan.code
    font-family: 'Roboto Mono', monospace
  tspan.emph
    font-style: oblique
  tspan.strong
    font-weight: bold
  tspan.strike
    text-decoration: line-through

body:not(.tool-history)
  .historyShow
    display: none
body.tool-history
  --palette-color: hsl(32,40%,73%)  // sepia-like
  &.dark
    --palette-color: hsl(32,40%,20%)
  .historyHide
    display: none
body:not(.tool-text)
  .textShow
    display: none
body.tool-text
  .textHide
    display: none
body.nopage
  .board
    visibility: hidden !important

#loading
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  top: 0
  left: 0
  width: 100%
  height: 100%
  visibility: hidden
  &.loading
    visibility: visible
  > svg
    width: 10%
    height: 10%
    animation: fa-spin 2s ease infinite

// Modal dialogs
.modal
  padding: 20px 40px
  visibility: hidden
  &.show
    visibility: visible
  cursor: help
.modal.error
  background: pink

// Based on keyframes from Font Awesome Free (see `lib/icons.coffee`).
@keyframes fa-spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

#download
  display: none

.grid
  stroke-width: 0.96
  stroke: #c4e3f4
