head
  title Cocreate Shared Whiteboard
  link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto+Slab:wght@500;900&display=swap", rel="stylesheet", crossorigin="anonymous")
  meta(name="viewport", content="width=device-width, initial-scale=1")

body
  #react-root
  a#download
