head
  title Cocreate Shared Whiteboard
  link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto+Slab:wght@500;900&display=swap", rel="stylesheet", crossorigin="anonymous")
  meta(name="viewport", content="width=device-width, initial-scale=1")

body
  #react-root
  //-
    #qrCode.modal.info
      h1 Link To This Cocreate Room/Board:
        .close
      p.center
        a#linkToRoom
      p If possible, this URL has already been <b>copied to your clipboard</b>, so you can paste it into a chat or email to send it to people.
      p On some browsers, you can <b>right click</b> on the URL to send it to other devices, or <b>long tap</b> to share it.
      p To send the board to your mobile device (phone or tablet), scan this <b>QR code</b>:
      #qrCodeSvg
  a#download
