:root
  --palette-width: 32px

body
  font-family: 'Merriweather', serif
  touch-action: none  // Prevent mobile zooming

#board
  position: absolute
  top: 0
  left: var(--palette-width)
  width: calc(100% - var(--palette-width))
  height: 100%

  cursor: url(/fa/pencil-alt-solid.svg) 0 31, crosshair
  touch-action: none  // PointerEvents only

#palette
  position: absolute
  left: 0
  width: var(--palette-width)
  height: 100%
  background: #cccccc

.color
  width: var(--palette-width)
  height: var(--palette-width)
  border: 2px outset #cccccc
  cursor: pointer

  &.selected
    border: 3px inset #cccccc
